<% provide(:title, "Feed") %>
<ul>
  <% @items.each do |item| %>
    <li class="feed">
      <%= link_to([ item.user, item]) do %>
        <%= image_tag item.image.url(:medium) %>
      <% end %>
  </li>
  <% end %>
</ul>
