// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
  max-width: 500px;
  margin: 0 auto;
  h1, h3 {
    text-align: center;
  }
}
